.ItemDetail{
    width: 100%;
    height: 100%;
    padding: 60px 60px;
    @include flex(column, nowrap, center, center);
    .ItenDetail__information{
        width: 100%;
        height: 70%;
        @include flex(row, nowrap, center, center);
        .ItenDetail__information--miniaturas{
            width: 20%;
            height: 100%;
            padding: 30px 10px;
            @include flex(column, nowrap, space-evenly, center);
            .miniatura{
                width: 100px;
                height: 80px;
                cursor: pointer;
            }
        }
        .ItenDetail__information--banner{
            width: 50%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .ItenDetail__information--texto{
            width: 30%;
            height: 100%;
            padding: 30px 10px;
            @include flex(column, nowrap, space-evenly, center);
            span{
                margin: 5px 0px;
                font-size: 24px;
                font-weight: bold;
            }
            .ItenDetail__information--textoDescripcion{
                font-size: 18px;
                color: #606061;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .ItenDetail__informacion--textoPrecio{
                font-size: 24px;
                color: $titulos;
                font-weight: bold;

            }
            .ItenDetail__information--textoPrecioNormal{
                text-decoration: line-through;
                font-size: 20px;
                font-weight: bold;
            }
            .ItenDetail__informacion--textoEnvio{
                font-size: 18px;
                color: #606061;
                font-weight: normal;
                margin-bottom: 5px;
                text-align: justify;
            }
            .ItenDetail__informacion--textoPago{
                font-size: 18px;
                text-align: center;
                font-weight: bold;
            }
        }
    }
    .ItenDetail__configuraciones{
        width: 100%;
        height: 30%;
        @include flex(row, nowrap, space-evenly, center);
        .ItenDetail__configuraciones--volver{
            width: 30%;
            a{
                @include flex(row, nowrap, space-evenly, center);
                p{
                    font-size: 18px;
                    font-weight: bold;
                    @media (max-width: 768px) {
                        width: 50%;
                     }
                }
                i{
                    font-size: 20px;
                    color: $titulos;
                }
            }
        }
        .ItenDetail__configuraciones--itemCount{
            width: 30%;
        }
        .ItenDetail__configuraciones--Button{
            width: 30%;
        }
    }
}