.ItemCountContainer{
    width: 100%;
    height: 35%;
    @include flex(column, nowrap, space-evenly, flex-start);
    p{
        color: #606061;
        span{
            color: black;
            font-size: 16px;
            font-weight: bold;
        }
    }
    form{
        width: 100%;
        background-color: whitesmoke;
        @include flex(column, nowrap, center, space-between);
        .ItemCount{
            width: 100%;
            @include flex(row, nowrap, space-evenly, center);
            .itemCountButton{
                cursor: pointer;
                width: 30px;
                height: 30px;
                background-color: white;
                border-radius: 2px;
                border-style: none;
                box-shadow: 0px 1px 1px rgba($color: #000000, $alpha: 0.4);
                color: $titulos;
                font-weight: bold;
                font-size: 18px;
                transition: 0.3s all ease;
                    &:hover{
                        background-color: $titulos;
                        color: white;
                        box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.6);
                        transition: 0.3s all ease;
                    }
            }
            input{
                border-radius: 4px;
                border-style: none;
                font-size: 18px;
                text-align: center;
                width: 70%;
                box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.4);
                &::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
        #buttonOnAdd{
            cursor: pointer;
            border-style: none;
            padding: 10px 15px;
            background-color: $titulos;
            border-radius: 6px;
            box-shadow: 0px 1px 1px rgba($color: #000000, $alpha: 0.4);
            color: white;
            font-weight: bold;
            font-size: 14px;
            transition: 0.3s all ease;
            &:hover{
                font-size: 18px;
                transition: 0.3s all ease;
                box-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.6);
            }
            &:focus{
                outline: none;
            }
        }
    }
}