.productCard{
        width: 30%;
        padding: 15px 5px;
        box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.4);
        margin-bottom: 30px;
        @include flex(column, nowrap, space-between, center);
        .productCard__info{
            @include flex(row, nowrap, center, center);
            height: 55%;
            width: 100%;
            margin-bottom: 5px;
            .productCardinfo__img{
                height: 100%;
                width: 50%;
                @include flex(column, nowrap, center, center);
                img{
                    width: 100%;
                }
            }
            .productCardinfo__texto{
                width: 50%;
                height: 100%;
                @include flex(column, nowrap, space-evenly, flex-start);
                padding: 15px;
                h3{
                    font-size: 24px;
                    font-weight: bold;
                    @media (max-width: 768px) {
                        width: 100%;
                        text-align: center;
                     }
                }
                span{
                    font-size: 24px;
                    font-weight: bold;
                    @media (max-width: 768px) {
                        display: none;
                     }
                }
                .productCardinfo__texto--descripcion{
                    color: #606061;
                    @media (max-width: 768px) {
                        width: 100%;
                        text-align: justify;
                        font-size: 18px;
                        margin-bottom: 5px;
                     }
                }
                .productCardinfo__texto--preciofinal{
                    color: $titulos;
                    font-size: 18px;
                    font-weight: bold;
                    @media (max-width: 768px) {
                      font-size: 22px;
                     }
                }
                .productCardinfo__texto--precioTachado{
                    font-size: 16px;
                    color: #363637;
                    text-decoration: line-through;
                    @media (max-width: 768px) {
                        font-size: 22px;
                    }
                }
                @media (max-width: 768px) {
                    width: 100%;
                 }
            }
            @media (max-width: 768px) {
                flex-direction: column;
             }
        }
        .productCard__otros{
            @include flex(column, nowrap, space-evenly, flex-start);
            height: 10%;
            margin-bottom: 5px;
            p{
                color: #606061;
                margin-bottom: 4px;
                @media (max-width: 768px) {
                    display: none;
                 }
            }
            a{
                &:hover{
                    color: $titulos;
                    cursor: pointer;
                }
                @media (max-width: 768px) {
                    width: 30%;
                 }
            }
            @media (max-width: 768px) {
                margin-bottom: 10px;
             }
        }
        @media (max-width: 768px) {
            width: 95%;
         }
    }