$colorPrincipal: #0D0C0C;
$colorSecundario: #F9F9F9;
$titulos: #a00f0f;
@import "./components/scss/reset.scss";
@import "./components/scss/Mixins.scss";
@import "./components/scss/Keyframes.scss";
@import "./components/cargandoDatos/CargandoDatos.scss";
@import "./components/navBar/NavBar.scss";
@import "./components/shoppingCar/ShopingCar.scss";
@import "./components/menuMobile/MenuMobile.scss";
@import "./components/slidesShow/SlidesShow.scss";
@import "./components/categoryListContainer/CategoryListContainer.scss";
@import "./components/categoryList/CategoryList.scss";
@import "./components/categoryCard/CategoryCard.scss";
@import "./components/itemListContainer/ItemListContainer.scss";
@import "./components/itemList/ItemList.scss";
@import "./components/itemCard/ItemCard.scss";
@import "./components/irAlCarrito/IrAlCarrito.scss";
@import "./components/itemCount/ItemCount.scss";
@import "./components/itemDetailContainer/ItemDetailContainer.scss";
@import "./components/itemDetail/ItemDetail.scss";
@import "./components/cart/Cart.scss";
@import "./components/emptyCart/EmptyCart.scss";
@import "./components/gestionDeOrden/GestionDeOrden.scss";
@import "./components/gestionDeOrden/GestionDeEnvio.scss";
@import "./components/ordenDeCompra/OrdenDeCompra.scss";
@import "./components/graciasPorComprar/GraciasPorComprar.scss";
@import "./components/footer/Footer.scss";