.spinnerContainer{
    width: 100%;
    height: 60vh;
    @include flex(column, nowrap, center, center);
    p{
        font-size: 18px;
        color: #292828;
        font-weight: bold;
    }
    .spinner{
        margin-top: 15px;
        border: 10px solid rgba($color: #000000, $alpha: 0.1);
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border-left-color: $titulos;

        animation: spin 1s ease infinite;
    }
}